In [29]:
'''
 Daniel Apetri

'''
import collections
import pandas as pd
import numpy as np

#read from features_names.txt the column names and add them to a list
input = open("./data/feature_names.txt","r")
column_names = input.read().split("\n")

In [42]:
#add the list to data_frame with the columns name
data_frame = pd.read_csv("./data/dataset.csv", names=column_names)
data_frame.head()

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,tr1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,tr2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,tr3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,tr4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,tr5,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [43]:
#'fnlwgt','education-num','capital-gain','capital-loss','hours-per-week' test using .describe() method
data_frame[['fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']].describe()
#data_frame['fnlwgt'].isnull()

             fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
count  3.094000e+04   30940.000000  30940.000000  30940.000000    30940.000000
mean   1.897864e+05      10.081254   1081.812993     86.569974       40.408920
std    1.054064e+05       2.569967   7443.773041    401.706023       12.336945
min    1.228500e+04       1.000000      0.000000      0.000000        1.000000
25%    1.178490e+05       9.000000      0.000000      0.000000       40.000000
50%    1.783840e+05      10.000000      0.000000      0.000000       40.000000
75%    2.373180e+05      12.000000      0.000000      0.000000       45.000000
max    1.484705e+06      16.000000  99999.000000   4356.000000       99.000000

In [44]:
# find location for every column that has "?" in it
mask = np.column_stack([data_frame[col].astype(str).str.contains("\?", na=False) for col in data_frame])
data_frame.loc[mask.any(axis=1)]

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
13,tr14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
23,tr24,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
34,tr35,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
47,tr48,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,?,<=50K
57,tr58,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30909,tr30910,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
30910,tr30911,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
30918,tr30919,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
30920,tr30921,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
30921,tr30922,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [45]:
#continuous features saved in lists
data_feature_names = list(data_frame[['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']])
data_continuous_count = list(data_frame[data_feature_names].count())
data_continuous_max = list(data_frame[data_feature_names].max())
data_continuous_min = list(data_frame[data_feature_names].min())
data_continuous_quartile_25 = list(data_frame[data_feature_names].quantile(q=0.25))
data_continuous_quartile_75 = list(data_frame[data_feature_names].quantile(q=0.75))
data_continuous_miss = list(data_frame[data_feature_names].isna().sum()/len(data_frame[data_feature_names]))
data_continuous_std = list(data_frame[data_feature_names].std())
data_continuous_mean = list(data_frame[data_feature_names].mean())
data_continuous_cardinality = list(data_frame[data_feature_names].nunique())
data_continuous_median = list(data_frame[data_feature_names].median())

In [46]:
#DataFrame created with all the lists that contain continuous data
data_frame_continuous = pd.DataFrame(
    {
        'Feature Name' :data_feature_names,
        'Count': data_continuous_count,
        '% Miss' : data_continuous_miss,
        'Card.': data_continuous_cardinality,
        'Min': data_continuous_min,
        'Qrt 1st': data_continuous_quartile_25,
        'Mean' : data_continuous_mean,
        'Median': data_continuous_median,
        'Qrt 3rd': data_continuous_quartile_75,
        'Max': data_continuous_max,
        'Std' : data_continuous_std
        
    }
)
#print first 5 rows from the DataFrame
data_frame_continuous.head()

,Feature Name,Count,% Miss,Card.,Min,Qrt 1st,Mean,Median,Qrt 3rd,Max,Std
0,age,30940,0.0,72,17,28.0,38.560763,37.0,48.0,90,13.639403
1,fnlwgt,30940,0.0,20880,12285,117849.0,189786.401422,178384.0,237318.0,1484705,105406.394386
2,education-num,30940,0.0,16,1,9.0,10.081254,10.0,12.0,16,2.569967
3,capital-gain,30940,0.0,119,0,0.0,1081.812993,0.0,0.0,99999,7443.773041
4,capital-loss,30940,0.0,91,0,0.0,86.569974,0.0,0.0,4356,401.706023

In [47]:
#create .csv file will all the continuous data
data_frame_continuous.to_csv("./data/ContinuousData.csv",header=True)

In [48]:
#categorical features and save all the data in a list 
data_categorical_features_names = list(data_frame[['workclass','education','marital-status','occupation','race','sex','native-country',"target"]])
data_categorical_columns = ['Feature Name','Count','% Miss','Card.','Mode','Mode Freq.','Mode % ','2nd Mode','2nd Mode Freq.','2nd Mode %']
def get_categorical_features(data,feature_name):
    data_gather = [
    feature_name,    
    data[feature_name].count(),
    data[feature_name].isna().sum()/len(data[feature_name]),
    data[feature_name].nunique(),
    data[feature_name].mode().iloc[0],
    data[feature_name].value_counts().iloc[0],
    data[feature_name].value_counts().iloc[0]/data[feature_name].count(),
    collections.Counter(data[feature_name]).most_common()[1][0],
    data[feature_name].value_counts()[1],
    data[feature_name].value_counts()[1]/data[feature_name].count(),
        ]
    
    return data_gather

# create a list of lists that contains all the data with the categorical features
data_categorical_feature = [
    get_categorical_features(data_frame,data_categorical_features_names[0]),
    get_categorical_features(data_frame,data_categorical_features_names[1]),
    get_categorical_features(data_frame,data_categorical_features_names[2]),
    get_categorical_features(data_frame,data_categorical_features_names[3]),
    get_categorical_features(data_frame,data_categorical_features_names[4]),
    get_categorical_features(data_frame,data_categorical_features_names[5]),
    get_categorical_features(data_frame,data_categorical_features_names[6]),
    
]

In [49]:
#create a DataFrame from a list and columns name
data_frame_categorical = pd.DataFrame(data_categorical_feature,columns=data_categorical_columns)
#write a .csv file with all the data from 
data_frame_categorical.to_csv("./data/CategoricalData.csv",header=True)

In [50]:
#check for 0 vaues in capital gain
data_frame['capital-gain'].value_counts()

0        28383
15024      324
7688       267
7298       231
99999      154
         ...
1111         1
4931         1
401          1
2538         1
5060         1
Name: capital-gain, Length: 119, dtype: int64

In [51]:
data_frame.shape
#check if we have missing values
data_frame.isnull().values
data_frame.notnull

<bound method DataFrame.notnull of             id  age          workclass  fnlwgt    education  education-num  \
0          tr1   39          State-gov   77516    Bachelors             13
1          tr2   50   Self-emp-not-inc   83311    Bachelors             13
2          tr3   38            Private  215646      HS-grad              9
3          tr4   53            Private  234721         11th              7
4          tr5   28            Private  338409    Bachelors             13
...        ...  ...                ...     ...          ...            ...
30935  tr30936   27            Private  257302   Assoc-acdm             12
30936  tr30937   40            Private  154374      HS-grad              9
30937  tr30938   58            Private  151910      HS-grad              9
30938  tr30939   22            Private  201490      HS-grad              9
30939  tr30940   52       Self-emp-inc  287927      HS-grad              9

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
30935   Married-civ-spouse        Tech-support            Wife   White
30936   Married-civ-spouse   Machine-op-inspct         Husband   White
30937              Widowed        Adm-clerical       Unmarried   White
30938        Never-married        Adm-clerical       Own-child   White
30939   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital-gain  capital-loss  hours-per-week  native-country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
30935   Female             0             0              38   United-States
30936     Male             0             0              40   United-States
30937   Female             0             0              40   United-States
30938     Male             0             0              20   United-States
30939   Female         15024             0              40   United-States

       target
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
30935   <=50K
30936    >50K
30937   <=50K
30938   <=50K
30939    >50K

[30940 rows x 16 columns]>

In [52]:
#data_frame.isna()
data_frame['capital-gain'].value_counts()

0        28383
15024      324
7688       267
7298       231
99999      154
         ...
1111         1
4931         1
401          1
2538         1
5060         1
Name: capital-gain, Length: 119, dtype: int64

In [53]:
data_frame['capital-loss'].value_counts()

0       29510
1902      191
1977      158
1887      147
1485       48
        ...
810         1
1539        1
1844        1
2489        1
1411        1
Name: capital-loss, Length: 91, dtype: int64